# Kopieren Sie diese Datei nach .env und tragen Sie Ihre eigenen Werte ein.
# .env darf NIEMALS ins Git-Repository!

SECRET_KEY=hier-einen-langen-zufaelligen-string-einsetzen
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=django.db.backends.postgresql
DB_NAME=hermann_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432
